@import "./variable";

#product-table {
  #table-form {
    table {
      thead {
        border: 1px solid #e8e8e8 !important;
        @media (max-width: 991px) {
          display: none;
        }
      }
      tbody {
        .product-name {
          font-size: 14px;
          color: $font-color;
          font-weight: 400;
          padding-left: 1rem;
        }
        .quantity {
          min-width: 130px;
          border: 1px solid #e8e8e8;
          display: inline-block;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          width: auto;
          position: relative;
          margin: 0 auto;
          overflow: hidden;
          zoom: 1;
          span {
            cursor: pointer;
          }
          .number {
            margin: 100px;
          }
          .minus,
          .plus {
            width: 20px;
            height: 20px;
            background: #f2f2f2;
            border-radius: 4px;
            padding: 8px 5px 8px 5px;
            border: 1px solid #ddd;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
          }
          input {
            height: 34px;
            width: 100px;
            text-align: center;
            font-size: 26px;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
          }
        }
        tr {
          @media (max-width: 991px) {
            display: flex;
            flex-wrap: wrap;

            .pr-img {
              flex: 0 0 100%;
            }
            td {
              padding: 5px 6px;
            }
            .product-quantity {
              flex: 1;
            }
            .table-bottom {
              display: contents;
              .bottom-cart {
                padding: 5px 10px !important;
              }
            }
          }
        }

        .remove {
          border: 1px solid black;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          font-size: 14px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: $main-color;
            color: #fff;
          }
        }
        .img-box {
          float: left;
          width: 80px;
          height: 80px;
        }
        tr {
          border: 1px solid #e8e8e8 !important;
          th {
            font-weight: 500;
            font-size: 17px;
          }
        }
        .bottom-cart {
          display: flex;
          justify-content: space-between;
          @media (max-width: 991px) {
            width: 100%;
          }
          .continue {
            font-size: 14px;
            color: $main-color;
            display: flex;
            align-items: center;
          }
          button {
            padding: 0 35px;
            background: #000;
            text-transform: uppercase;
            color: #fff;
            font-size: 11px;
            line-height: 40px;
            cursor: pointer;
            font-weight: 400;
            border: 0;
            letter-spacing: 0.1em;
          }
        }
      }
    }
  }
  .cart-totals {
    background: #f6f6f6;
    padding-bottom: 45px;
    h2 {
      font-size: 16px;
      color: #000;
      padding: 15px 30px 11px;
      background: #e9e9e9;
      margin: 0;
      line-height: 1.8;
      border-bottom: 0;
      font-weight: 400;
    }
    .ordertotal {
      display: flex;
      padding: 15px 30px;
      align-items: center;
      justify-content: space-between;
      .total-price {
        font-size: 24px;
        color: #000;
        font-weight: 500;
      }
    }
    .checkout-proceed {
      padding: 0 30px;
      a {
        background: #868686;
        color: #fff;
        padding: 24px 20px;
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.1em;
        &:hover {
          background-color: $main-color;
          color: #fff;
        }
      }
    }
  }
}
