
@{
    ViewData["Title"] = "ErrorPage";
}

<main>
    <section id="page404">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="content-404">
                        <div class="title-error">404</div>
                        <div class="sub-title">
                            Oops! That page can't be found.
                        </div>
                        <div class="sub-error">
                            We're really sorry but we can't seem to find the page you were looking for.
                        </div>
                        <a href="index.html">Back The HomePage</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

