
@{
    ViewData["Title"] = "ForgotPassword";
}
@model ForgotPasswordViewModel


<main>
    <section id="back-image">
    </section>
    <section id="forgot">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="forgot-box">
                        <div class="forgot-title">
                            <h2><i class="fa-solid fa-key"></i>Forgot Password</h2>
                            <div class="title-line"></div>
                        </div>
                        <div class="forgot-content">
                            <form method="post" asp-action="forgotpassword" asp-controller="account">
                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Email Adress">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="forgot-button">
                                    <button type="submit">Send Email</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}