
@{
    ViewData["Title"] = "ResetPassword";
}

@model ResetPasswordViewModel

<main>
    <section id="back-image">
    </section>
    <section id="forgot">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="forgot-box">
                        <div class="forgot-title">
                            <h2><i class="fa-solid fa-key"></i>Forgot Password</h2>
                            <div class="title-line"></div>
                        </div>
                        <div class="forgot-content">
                            <form method="post" asp-action="changepassword" asp-controller="account">
                                <input name="token" value="@Model.Token" type="hidden">
                                <input name="email" value="@Model.Email" type="hidden">

                                <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Enter your password">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword">Confirm Password</label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmpassword" placeholder="Enter your confirm passwod">
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <div class="forgot-button">
                                    <button type="submit">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

